@{
    ViewData["Title"] = "Home Page";
}


<div class="container d-flex h-100 ">
    <div class="row align-self-center w-100 ">
        <div class="col-6 mx-auto">
            <div class="card text-center ml-10 mt-9 mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Welcome!</h5>
                    <p>This is a page for help those who do not have the space to do it. We keep safe your information.</p>
                    <a class="btn btn-primary" asp-controller="Registros">Let's take a look</a>
                </div>
            </div>
        </div>
    </div>
</div>
